/*# sourceURL=css/main.css */
/*@ sourceURL=css/main.css */
* {
  box-sizing: border-box;
  user-select: none;
  font-family: Work Sans !important;
}

body {
  overflow: hidden;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Work Sans", sans-serif;
}


#d-login,
#d-script-1,
#d-script-2,
#d-drone {
  transition: all.2s ease;
  position: absolute;
  z-index: 9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  width: 8rem;
  height: 8rem;
  display: block;
  outline: 0;
  margin: 0;
  cursor: pointer;
}

.login {
  background-color: #013;
  color: white;
}

label.button,
button {
  border: 0;
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: transparent;
  box-shadow: inset 0 0 0 .1em rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 1.5em;
  outline: 0;
  user-select: none;
  font-size: .8em;
}

label.button:hover,
button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

label.button {
  margin-top: .25em;
}

section {
  transition: transform 0.5s ease, opacity .5s ease;
  background-color: #fafafa;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  z-index: -1;
  padding: 7rem 1rem;
}

section.login{z-index:1; animation:none}

  #v-sold:checked~section.sold,
 #v-login:checked~section.login,
#v-script:checked~section.script,
  #v-sign:checked~section.sign {
  z-index: 2;
  animation: loading .1s ease forwards;

  overflow-x: hidden;

max-width: 100vw;
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/*SIGN IN PAGE*/

.bokeh {
  transition: filter .2s ease
}

.login .bokeh {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: #124;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(50px);
  transform: translateZ(0);
  backface-visibility: hidden;
}

#v-login~.login .bokeh circle {
  animation: rotate 6s linear infinite;
  fill: #124;
  opacity: 0.43;
  transform-origin: 50%;
}

#v-login~.login .bokeh circle:nth-child(2n) {
  fill: #614;
  transform-origin: 20% 110%;
  animation-delay: -3s;
  animation-duration: 4.1316s;
  opacity: 0.2;
}

#v-login~.login .bokeh circle:nth-child(3n) {
  opacity: 0.65;
  fill: #469;
  transform-origin: 70% 30%;
  animation-delay: -1.5s;
  animation-duration: 7.9998s;
}

#v-login~.login .bokeh circle:nth-child(4n) {
  fill: #c63;
  transform-origin: 110% 70%;
  animation-delay: -2s;
  animation-duration: 4.77996s;
}

#v-login~.login .bokeh circle:nth-child(5n) {
  fill: #266;
  transform-origin: 30% 40%;
}

#v-login~.login .bokeh circle:nth-child(6n) {
  fill: #124;
  transform-origin: -10% 80%;
  animation-delay: -7.8s;
}

#v-login~.login .bokeh circle:nth-child(7n) {
  fill: #614;
  transform-origin: 70% -10%;
}

#v-login:checked~.login .bokeh circle:nth-child(8n) {
  fill: #c63;
  transform-origin: -30% 50%;
  animation-delay: -2.4s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

 

.indicators {
  position: fixed;
  left: 1rem;
  bottom: 1em;
  width: 2em;
  pointer-events: none;
  z-index: 99;
  text-align: right;
}

.indicators>div {
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .1em rgba(190, 190, 190, 0.5;)
}

.indicators>div:nth-child(4) {
  position: absolute;
  bottom: .25em;
  left: .4em;
}

.indicators {
  line-height: 1em;
}

.indicators>div:nth-child(1) {
  border-radius: 1em 0 0
}

.indicators>div:nth-child(2) {
  border-radius: 0 1em 0 0
}

.indicators>div:nth-child(3) {
  border-radius: 0 0 1em 0
}

.indicators>div:nth-child(4) {
  border-radius: 0 0 0 1em;
  position: absolute;
  right: 0;
  bottom: .15em;
}

#d-login:checked~.indicators div:nth-child(1),
#d-script-1:checked~.indicators div:nth-child(2),
#d-script-2:checked~.indicators div:nth-child(3),
#d-drone:checked~.indicators div:nth-child(4) {
  background-color: rgba(200, 200, 200, 0.5) !important;
  box-shadow: inset 0 0 0 .1em rgba(200, 200, 200, 0.25)
}

#d-login {
  top: 0;
  left: 0;
}

#d-script-1 {
  right: 0;
  top: 0;
}

#d-script-2 {
  bottom: 0;
  right: 0;
}

#d-drone {
  bottom: 0;
  left: 0;
}

.button.fake-social {
  background-color: #27a;
  color: white;
  box-shadow: inset 0 0 0 0.05em rgba(255, 255, 255, 0.2), 0 0 0 0.1em rgba(0, 0, 0, 0.2);
}

.button.fake-social:hover {
  background-color: #38b;
}

/*SCRIPT PAGE*/

.script-block {
  position: relative;
  max-width: 50em;
  padding: 0;
  margin: 1em auto;
}

.script {
  background-color: #111;
}

.script-block input {
  position: absolute;
  z-index: 999;


  height: 100%;
  display: block;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

.script-block input:not(:checked)~div {
  max-height: 0;
  overflow: hidden;
  color: #fff;
  background-color: #d25
}

.script-block input:checked~div {
  max-height: 30em;
  color: black;
  background-color: #d3d6d9;
  overflow: hidden;
  transform: scale(1.05);
  box-shadow: 0 0.23em 1em rgba(0, 0, 0, 0.15)
}

.bionode-block div {
  background-color: purple;
  color: white;
}

.script-block>div p {
  margin-top: 0;
}

.script-block>div {
  transition: all .6s cubic-bezier(.7, .2, .2, 1.2);
  text-align: left;
  padding: 2rem;
  min-height: 5rem;
  box-shadow: none;
  font-size: .8em
}

.signature-pad {
  width: 100%;
}

.sign {
  background-color: #fff;
  background-position: 50% 50%;
  background-size: cover;
}

.no-touch .signature-pad {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  background-color: #eee;
}

.no-touch .signature-pad:hover {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
  background-color: #eee;
  transform: scale(1);
}

.sig-pad {
  position: relative;
  max-width: 25em;
  margin: 1em auto;
}

.sig-pad button {
  color: #444;
  position: absolute;
  top: 0;
  box-shadow: none;
  right: 0;
  background-color: transparent;
}

/*pharma login SSO interactivity*/

#d-login:not(:checked)~section .pharma-login {
  display: none;
}

#d-login:checked~section .gh {
  display: none
}

#d-login:checked~section .pharma-login {
  display: block;
}

/*interactivity*/

#d-script-1:not(:checked)~section .pharma-script,
#d-script-2:not(:checked)~section .partner-script {
  overflow: hidden;
  min-height: 0em;
  height: 0;
  opacity: 0;
}

.script {
  transition: all 0.5s ease;
}

#d-script-1:checked~section .pharma-script,
#d-script-2:checked~section .partner-script {
  display: block;
  max-height: 20em;
  animation: showblock .36s ease forwards;
}

@keyframes showblock {
  0% {
    transform: scale(.9);
    background-color: #626;
    color: white
  }
}

.yesdrone {
  display: none;
}

#d-drone:not(:checked)~section .yesdrone {
  display: none;
}

#d-drone:not(:checked)~section .nodrone {
  display: inline;
}

#d-drone:checked~section .yesdrone {
  display: inline;
}

#d-drone:checked~section .nodrone {
  display: none;
}

.method path {
  fill: currentcolor
}

.method {
  transition: all .5s ease;
  max-width: 5em;
  display: inline-block;
  margin: 0 auto;
}

#d-drone:not(:checked)~section .drone {
  max-width: 0em;
}

#d-drone:checked~section .drone {
  width: 5em;
  display: inline-block;
  color: #717;
}

.drone,
.truck {
  color: #717
}

#d-drone:checked~section .truck {
  color: #888;
  max-width: 4em;
  transition-delay: .5s;
  display: inline-block;
}

#d-drone:checked~section img.drone {
  width: 15em;
  position: fixed;
  top: 5rem;
  left: 0;
  z-index: -1
}

.options {
  margin-bottom: 2rem;
  font-size: 1em;
}

.options input {
  display: none;
}

.options input+label {
  transform: scale(.95);
  display: inline-block;
  cursor: pointer;
  font-size: .8em;
  transition: all .5s ease;
  padding: 3rem 2rem; padding-left: 4em; 
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 1.5rem;
  text-transform: uppercase;;
}

.options input:checked+label {
  transform: scale(.99);
  background-color: #616;
  color: white;
}

.options input:checked+label:after {
  content: "✓";
  display: block;
  position: absolute;
  color: #d16;
  left: .4em;
  top: .6em; font-size: 2.5em;
}

.options input+label input {
  user-select: all;
  display: inline-block;
  width: 4rem;
  font-size: 1em;
  -webkit-appearance: none;
  background-color: white;
  text-align: center;
  border-radius: .4em;
  border: none;
  outline: none;
}

.options input+label input {
  color: #aaa;
  background-color: transparent
}

.options input:checked+label input {
  color: #717;
  background-color: white;
}

.options input+label:before {
  content: "";
  box-shadow: inset 0 0 0 1px; opacity:.5;
  width: 2em;
  height: 2em; position:absolute; top:2em; left: 1em;
  border-radius: .15em;
  margin-bottom: -.1em;
  display: inline-block;
  margin-right: .5em;
}

.options input:checked+label:before {
  background-color: currentcolor;opacity:1;
}


#d-script-1:not(:checked)~.sign .options [for="op2"] {
  display: none;
}

#d-script-1:checked~.sign .options [for="op2"] {
  display: inline-block;
}

.sold {
  background-color: #013;
  color: white;
  background-image: url("http://127.0.0.1:8081/css/../img/rain.jpg");
  background-position: 50% 50%;
  background-size: cover;
  )
}

.button.logout {
  color: white;
  background-color: transparent;
  position: fixed;
  top: .5rem;
  right: 8rem;
  opacity: .5;
  box-shadow: none;
  z-index: 999;
}

.logobuild svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 19rem;
  height: 8rem;
  pointer-events: none;
  z-index: 999;
  text-align: left;
  padding: 1rem;
}

.logobuild {
  color: white
}

.logobuild path {
  fill: currentcolor;
}

.logobuild path:first-child, .logobuild path:nth-child(2) {
  font-size: 2rem;
  font-weight: 900;
  display: block;
  margin: 0;
}

.logobuild path:nth-child(3) {
  font-size: 1rem;
  font-weight: 400;
  inline-display: block;
  margin: 0;
  margin-bottom: -.5em;
}

.logobuild path:nth-child(3) {
  font-size: .65rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  display: inline-block;
}




#v-script:checked~.script:before,
#v-sign:checked~.sign:before {
  content: "";
  z-index: 1;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  background-color: #133;
  height: 5rem;
  position: fixed;
  background-color: #515;
}

#v-script:checked .logobuild:before {
  background-color: #515;
}

#v-script:checked~.logobuild {
  color: #737
}

#v-sign:checked~.logobuild {
  color: #737;
}

 
.logobuild path:nth-child(3),
.logobuild path:nth-child(4) {
  display: none
}

#d-script-2:checked~.logobuild path:nth-child(3),
#d-drone:checked~.logobuild path:nth-child(4),
#d-login:checked~.logobuild path:nth-child(3),
#d-script-1:checked~.logobuild path:nth-child(3) {
  display: block
}
 

.bionode-block input:not(:checked)~div {
 
}

.bionode-block input:checked~div {
  
}

.briefing-block input:not(:checked)~div {
  background-color: #234;
  color: #cde;
  ;
}

.briefing-block input:checked~div {
  background-color: #123;
  color: white;
}

.partner-script input:not(:checked)~div {
  background-color: #475;
  color: #ddd;
  ;
}

.partner-script input:checked~div {
  background-color: #152;
  color: #ddd;
  ;
}

.bigpharm-block input:not(:checked)~div {
  background-color: #00B9E4;
  color: #000;
}

.bigpharm-block input:checked~div {
  color: #123;
  background-color: #abc
}

.signatory {
  border-radius: 0 !important;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  line-height: 3rem;
  background-color: #d25 !important;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  font-size: 1.8rem !important;
}

.signatory:hover {
  background-color: #ff2273 !important
}

label.pharma-login {
  background-color: #fff;
  color: black
}

.login.goog {
  background-color: #b11;
  color: #fff
}

.login.goog:hover {
  background-color: #c22;
  color: #fff
}

.login.gh {
  background-color: #bbb;
  color: #555
}

.login.gh:hover {
  background-color: #ddd;
  color: #111
}

.button.login {
  max-width: 22em;
  margin: .5em auto;
  border-radius: 3em;
  height: 3.5em;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 3.5em;
  padding: 0 2em;
}

h2 {
  font-weight: 200;
  font-size: 4rem;
  margin: 0;
  color: #737
}

h3 {
  margin: -.4em 0 1em 0;
  font-weight: 700;
  font-size: 2rem;
}

#v-script:checked~.logobuild svg,
#v-sign:checked~.logobuild svg {
  height: 6rem;
  top: -.4rem;
  color: #eee;
}

.logobuild svg {
  transition: all .25s ease;
}

section>p {
  color: #666
}

.primary{background-color:#d25 !important; color:white; box-shadow: 0 0 0 .1em currentcolor }


.logobuild svg path:nth-child(2){color: #ff2273 !important }


[name="script"]:not(:checked) ~ div svg{opacity:0;   transform: scale(2); transition:none}
 
.briefing-block svg{position:absolute; top: 0 ; max-height: 100%;  right:0; width: 16em;  transition: all 3s ease;}

.script h4{margin:0; font-size: 2em;}


.fact{display:inline-block;  width: 27%;  vertical-align:top; margin-bottom:2em; color:#d25}
.fact{font-weight: 600; text-transform:uppercase} 
.fact h4{ font-size: 3em; font-weight: 300;}

.briefing-block g circle{stroke-width: .5px}

#d-script-2:not(:checked)~section .briefing-block g circle{opacity:0; stroke-width: 15px; transition: all 1s ease !important;}

#d-script-2:checked~section .briefing-block g circle{ opacity:1; transition: all 2s ease .35s !important}

#d-script-2:checked~section .briefing-block g circle:nth-child(2n){ transition-delay: .5s !important} 
#d-script-2:checked~section .briefing-block g circle:nth-child(3n){ transition-delay: .6s !important} 
#d-script-2:checked~section .briefing-block g circle:nth-child(4n){ transition-delay: .7s !important} 


@keygrames visit{
  0%{opacity:0;}
  100%{opacity:1l;}
}



.script-block.bionode-block input:checked ~  div h3{color:#d24 }
.script-block.bionode-block input:not(:checked) ~  div h3{color:#fff }



.script-block.bigpharm-block input:checked ~  div{background-color:#eee}
.script-block.bigpharm-block input:checked ~  div h3{color:#0079c4 }
.script-block.bigpharm-block input:not(:checked) ~  div h3{color:#000 }




.options label{position:relative;}
.discount{position:absolute; left:1.5em; top: -2.6em; background-color:#d25; color: white; padding: .75em 1em; border-radius: 1em 1em 0 0}

input:not(:checked) + label .discount{display:none}






[name="script"] ~ div .fact{transition: all 1s ease .5s}


[name="script"] ~ div .fact:nth-child(3){transition-delay: .2s}
[name="script"] ~ div .fact:nth-child(4){transition-delay: .6s}
[name="script"] ~ div .fact:nth-child(5){transition-delay: .8s}
[name="script"] ~ div .fact:nth-child(6){transition-delay: 1s}

[name="script"]:not(:checked) ~ div .fact{opacity:0; transform: translate(0em,-2em); transition:none;}




[name="script"]:not(:checked) ~ div .cta-b{opacity:0;}

.cta-b{text-align:center; box-shadow: inset 0 0 0 .06em #d25;  padding: 1em; margin:0; font-size: 1.25em; transition: all 1s ease 1s;}
